@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.inputText{
  border:1px solid #D0D5DD;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 14px;
  color:#667085;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

input[type=file]{
  border:1px solid #D0D5DD;
  background-color: transparent;
  border-radius: 8px;
  padding: 10px 14px;
  color:#667085;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  cursor: pointer;
}

select{
  border:1px solid #D0D5DD;
  background-color: transparent;
  border-radius: 8px;
  padding: 10px 14px;
  color:#667085;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

input::file-selector-button {
  color: black;
  border: none;
  background-color: transparent;
  border-radius: 3px;
}

.auth-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.auth-wrapper-left{
  width: 0;
    flex-grow: 1;
    background: url('https://img.freepik.com/free-photo/luxurious-car-parked-highway-with-illuminated-headlight-sunset_181624-60607.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1704412800&semt=ais') no-repeat center center/cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.auth-wrapper-right {
  width: 100%;
  max-width: 660px;
  background: #fff;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.auth-wrapper-right .auth-wrapper-form {
  max-width: 452px;
  width: 100%;
  margin: 0 auto;
}

.auth-wrapper-right .auth-header {
  font-size: 14px;
  margin-bottom: 1rem;
}

.leftMenuHover:hover{
  background-color: #e1cd95;
  color: #fff;
  transition: 0.2s;
}

.activeLeftMenu{
  background-color: #cfaa4c;
  transition: 0.3s;
  color: #fff;
}


.resetButton{
  padding: 10px 38px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  cursor: pointer;
  transition: 0.3s;
}

.resetButton:hover{
  background-color: #CFAA4C;
  border: 1px solid #CFAA4C;
  color: #fff;
}

.submitButton{
  padding: 10px 38px;
  border-radius: 8px;
  background-color: #CFAA4C;
  border: 1px solid #CFAA4C;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
}

.submitButton:hover{
  background-color: #fff;
  border: 1px solid #D0D5DD;
  color: black;
}


.drag-area{
  border: 2px dashed #fff;
  height: auto;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #5256ad;
}
.drag-area.active{
  border: 2px solid #fff;
}
.drag-area .icon{
  font-size: 100px;
  color: #fff;
}
.drag-area header{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}